# Laravel & Filament

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar el directorio de dependencias
/vendor

# Ignorar el directorio de entornos
/.env

# Ignorar el directorio de logs
/storage/logs

# Ignorar las caches de rutas y vistas
/storage/framework/cache/*
/storage/framework/views/*

# Ignorar archivos compilados de PHP
/bootstrap/cache/*

# Ignorar archivos de prueba
/tests/_output

# Ignorar archivos generados por Filament y otros recursos
/public/storage
/public/vendor

# Ignorar archivos temporales o de backup
*.swp
*.bak

# Ignorar archivos y directorios generados por Composer
composer.lock

# Ignorar archivos del IDE (Ej. PhpStorm, VSCode)
.idea
.vscode

# Filament Admin y su instalación
# Ignorar la carpeta de assets compilados, si estás usando Filament para frontend
/public/assets
